<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="adminhome.css"/>
</head>
<body>
   
  <div class="button-box">
    <form action="addsong">
      <input type="submit" value="ADD SONG"/>
    </form>

    <form action="viewsongs">
      <input type="submit" value="VIEW SONG"/>
    </form>

    <form action="createplaylists">
      <input type="submit" value="CREATE PLAYLIST"/>
    </form>

    <form action="viewplaylist">
      <input type="submit" value="VIEW PLAYLIST"/>
    </form>

    <form action="logout">
      <input type="submit" value="LOGOUT"/>
    </form>
  </div>

</div>

</body>
</html>