<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="login.css" />
</head>
<body>
	<div>
		<h1>SongHub</h1>
		<p>
			<i>Let's explore the Music World</i>
		</p>
		<form action="/validate" method="post">
			<label for="email">Email</label> <input type="email" name="email"
				id="email"> <label for="password">Password</label> <input
				type="password" name="password" id="password">
			<p>
				New User? <a href="/registernav">Register Now</a> <input
					type="submit" value="Login" />
		</form>

	</div>

</body>
</html>